<% layout('/layouts/boilerplate') -%>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label font-monospace">Title</label>
        <input
          id="title"
          type="text"
          class="form-control"
          name="campground[title]"
          value="<%= campground.title %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">This field is required</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label font-monospace">Location</label>
        <input
          type="text"
          name="campground[location]"
          id="location"
          class="form-control"
          value="<%= campground.location %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">This field is required</div>
      </div>

      <div class="mb-3">
        <label for="formFileMultiple" class="form-label font-monospace"
          >Add More Images...</label
        >
        <input
          class="form-control"
          type="file"
          id="formFileMultiple"
          multiple
          name="image"
        />
      </div>

      <div class="mb-3">
        <label for="price" class="font-monospace form-label font-monospace"
          >Campground Price</label
        >
        <div class="input-group">
          <span class="input-group-text">&#8377;</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="campground[price]"
            placeholder="0.00"
            aria-label="Amount (to the nearest dollar)"
            value="<%= campground.price %> "
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">This field is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label font-monospace"
          >Description</label
        >
        <textarea
          type="text"
          name="campground[description]"
          id="description"
          class="form-control"
          required
        >
        <%= campground.description %>
       </textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">This field is required</div>
      </div>
      <div class="mb-3">
        <% campground.images.forEach(function(img,i){ %>
        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%=i%>"
            name="deleteImages[]"
            value="<%=img.filename%>"
          />
          <label for="image-<%i%>">Delete?</label>
        </div>
        <%}) %>
      </div>
      <button type="submit" class="font-monospace btn btn-info">
        Update Campground
      </button>
    </form>
    <div class="mt-2">
      <a class="font-monospace" href="/campgrounds/<%= campground._id %> "
        >Go Back</a
      >
    </div>
  </div>
</div>
